<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - DigitalOwl</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div id="dashboard-nav">
        <div id="logo">
            <h1>DigitalOwl</h1>
        </div>
    </div>

    <div id="content">
        <div id="progress">
            <h1>Your Progress</h1>
            <p>{{ user }}</p>
            <div id="lists">
                <div>
                    <h2>Practice List 1</h2>
                    <p>Description blah blah</p>
                    <span>Progress: 64%</span>
                    <progress value="64" max="100"></progress>
                    <a href="">Practice</a>
                </div>
                <div>
                    <h2>Practice List 2</h2>
                    <p>Description blah blah</p>
                    <span>Progress: 32%</span>
                    <progress value="32" max="100"></progress>
                    <a href="">Practice</a>
                </div>
                <div>
                    <h2>Practice List 3</h2>
                    <p>Description blah blah</p>
                    <span>Progress: 99%</span>
                    <progress value="99" max="100"></progress>
                    <a href="">Practice</a>
                </div>
                <div>
                    <h2>Practice List 3</h2>
                    <p>Description blah blah</p>
                    <span>Progress: 99%</span>
                    <progress value="99" max="100"></progress>
                    <a href="">Practice</a>
                </div>
                <div>
                    <h2>Practice List 3</h2>
                    <p>Description blah blah</p>
                    <span>Progress: 99%</span>
                    <progress value="99" max="100"></progress>
                    <a href="">Practice</a>
                </div>
                <div>
                    <h2>Practice List 3</h2>
                    <p>Description blah blah</p>
                    <span>Progress: 99%</span>
                    <progress value="99" max="100"></progress>
                    <a href="">Practice</a>
                </div>
            </div>
            
        </div>
    </div>
    
</body>
</html>