<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - EcoCards</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div id="navbar">
        <div id="logo">
            <!-- <img src="../static/images/logo.png"> -->
            <h1>DigitalOwl</h1>
        </div>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/register">Sign up</a></li>
        </ul>
    </div>

    <div id="featured-section" class="disappear-y reappear-y">
        <img src="../static/images/hero.png">
        <h3>Knowledge, Sustainability,<br>and Accessibility</h3>
        <!-- <a href="register/" target="_blank">Sign Up</a> -->
    </div>

    <div id="description">
        <h4>This is our Mission</h4>
        <p>Our mission is to empower learners with the knowledge and tools they need to create a sustainable future. Through innovative, eco-conscious educational resources, we aim to inspire a new generation of environmentally responsible individuals who are equipped to make a positive impact on our planet.</p>
    </div>
    
</body>
</html>