<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - EcoCards</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div id="login-background"></div>

    <form id="login" method="POST">
        <h2>Log in to DigitalOwl</h2>
        <label for="email">Email address</label>
        <input type="email" name="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <button type="submit">Log in</button>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </form>

    <p id="image-credits">Shot by Taneli Lahtinen</p>
    
</body>
</html>