<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - EcoCards</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div id="login-background"></div>

    <form id="login" method="POST">
        <h2>Create a DigitalOwl account</h2>
        <label for="name">Name</label>
        <input type="text" name="name" required>
        <label for="email">Email address</label>
        <input type="email" name="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <label for="password">Confirm Password</label>
        <input type="password" name="password-confirmation" required>
        <label for="teacher">I am a teacher</label>
        <input type="checkbox" name="is-educator">
        <button type="submit">Create account</button>
        <p>Already have an account? <a href="/login">Sign in</a></p>
    </form>

    <p id="image-credits">Shot by Taneli Lahtinen</p>
    
</body>
</html>